*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.parent{
    max-width: 800px;
    width: 100%;
    height: 800px;
    border: 2px solid black;
    display: grid;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ch11{
    text-align: center;
}


.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: rgb(243, 243, 243);
    text-align: center;
}

.child2 h2{
    font-weight: 200;
}


.child2 a, .ch42 a, .child6 a{
    text-decoration: none;
    color: rgb(26, 139, 213);

}

.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #eb4d4d;
    text-align: center;

}

.child3 img{
    width: 70%;
    margin-top: 20px;
}

.child3 a{
    text-decoration: none;
    color: yellow;
    border: none;
    background-color: #eb4d4d;
}

.child3 h3{
    color: white;
}

.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    gap: 20px;
}

.ch42{
    text-align: center;
}

.child5{
    grid-column: 4/5;
    grid-row: 2/5;
    background-color: rgb(200, 96, 232);
    text-align: center;
}

.child5 h1, .child5 p{
    color: white;
}

.child5 img{
    border-radius: 50%;
}

.child5 button{
    border-radius: 80px;
    border: none;
    width: 100px;
    background-color: rgb(208, 156, 44);
    padding: 5px
}

.child6{
    grid-column: 1/2;
    grid-row: 3/5;
    background-color:rgb(255, 255, 255);
    text-align: center;
}

.child6 img{
    width: 100px;
}

.child7{
    grid-column: 2/4;
    grid-row: 3/5;
    background-color:#66CDAA;
    text-align: center;
}

.child7 img{
    width: 280px;
}

.child7 button{
    border-radius: 7px;
    color: white;
    background-color: #eb4d4d;
    border: none;
    width: 100px;
}

@media screen and (max-width: 600px){
    /* Stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
}