*{
    padding: 0;
    margin: 0;
}

.hello{
    padding: 30px 30px 30px 30px;
    background-color: rgb(210, 212, 212);
    font-family: Arial, Helvetica, sans-serif;
}

.hello h1{
    font-weight: 200;
    padding-bottom: 12px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
}

main button{
    background-color: rgb(30, 121, 224);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    border: none
}

.row h2{
    font-weight: lighter;
}

.card button{
    background-color: rgb(116, 114, 114);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: none;
}

.card{
    margin: 15px;
}

.card p{
    margin-top: 8px;
    margin-bottom: 8px;
}

.row{
    height: 500px
}

.card{
    height: 400px;
}