* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
    width: 100%;
    max-width: 1500px;
    height: 800px;
    margin:auto;
    margin-top: 20px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color:antiquewhite;
}

.child1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: rgb(201, 68, 201);
    border-radius: 10px;
    margin: 10px;
}

.child1 .para1 {
    margin: 30px;
    color: white;
}
.child1 .img1 {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    gap: 20px;
    color: white;
}

.child1 .img1 img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.quotes{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 400px;
    color: #eeedf0;
    left: 800px;
    opacity: 0.3;
}

.child2 {
    grid-column:3 / 4 ;
    grid-row: 1 / 2;
    background-color: rgb(89, 84, 84);
    border-radius: 10px;
    margin: 10px;
}

.child2 .img2 img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.child2 .img2 {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    gap: 20px;
    color: white;
}

.child2 .para2 {
    margin: 20px;
    color: white;
}


.child3 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.child3 .img3 img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.child3 .img3 {
    display: flex; 
    margin-top: 30px;
    margin-left: 30px;
    gap: 20px;
}

.child3 .para3 {
    margin: 30px;
    color: black;
}



.child4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.child4 .img4 {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    gap: 20px;
}

.child4 .img4 img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.child4 .para4 {
    margin: 30px;
    color: black;
}

.child5 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: rgb(21, 14, 14);
    border-radius: 10px;
    margin: 10px;
}
.child5 .img5 {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    gap: 20px;
    color: white;
}

.child5 .img5 img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.child5 .para5 {
    color: white;
    margin: 30px;
}

@media screen and (max-width:800px) {
    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent > div {
        grid-column: auto;
        grid-row: auto;
    }
    
}